* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
      
}
#main{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#container {
    width: 90vw;
    height: 80vh;
    text-align: center;
    display: flex;
    row-gap:10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
}
